<div class="col-md-12 text-center admin">
	<h3>voici les signalament fait:</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 admin_listing">
			<?php while ($signalement = $signalements->fetch_assoc()){ ?>
			<?php ('SELECT * FROM signalement ORDER BY date'); ?>

			<div class="col-md-8 admin_listing_1 signalement_<?=$signalement['id']?>">
				<div class="admin_adresse">
					<h4>Adresse :</h4>
					<h5><?=$signalement['adresse']?></h5>
				</div>
				<div class="admin_taille">
					<h4> Taille: 1 petit, 2 moyen, 3 gros :</h4>
					<h5><?=$signalement['taille']?></h5>
				</div>
				<div class="admin_poid">
					<h4>Poid: 1 -10kg , 2 10-30kg, 3 +30kg :</h4>
					<h5><?=$signalement['poid']?></h5>
				</div>
				<div class="admin_nombre">
					<h4>Nombres d'encombrants:</h4>
					<h5><?=$signalement['nombre']?></h5>
				</div>
				<div class="admin_nombre">
					<h4>Numéros de téléphone:</h4>
					<h5><?=$signalement['mobile']?></h5>
				</div>
				<div class="admin_nombre">
					<h4>Nom :</h4>
					<h5><?=$signalement['name']?></h5>
				</div>
				<div class="admin_nombre">
					<h4>Prenom :</h4>
					<h5><?=$signalement['first_name']?></h5>
				</div>
				<div class="admin_desc">
					<h4>Description :</h4>
					<h5><?=$signalement['description']?></h5>
				</div>
				<div class="admin_calendrier">
					<h4>Date du rendez-vous :</h4>
					<h5><?=date('d/m/Y', $signalement['calendrier'])?></h5>
				</div>
				<div class="admin_nombre">
					<h4>Créneau horaire choisit :</h4>
					<h5><?=$signalement['horaire']?></h5>
				</div>
			</div>
			<div class="col-md-2 bouton_admin signalement_<?=$signalement['id']?>">
				<a class="delete_signalement" data-id="<?=$signalement['id']?>"><i class="fa fa-trash fa-4x" aria-hidden="true"></i></a>
				<a class="add_com" data-id="<?=$signalement['id']?>"><i class="fa fa-pencil-square fa-4x" aria-hidden="true"></i></a>
			</div>
			<? } ?>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.delete_signalement').click(function(){
		var id_signalement = $(this).data('id');
		id_signalement = parseInt(id_signalement);
		$.post('/delete', {
			id_signalement: id_signalement
		}, function(data, textStatus, xhr) {
			if(data == '1'){
				alert('Le signalement a bien été supprimé');
				$('.signalement_'+id_signalement).remove();
			}else{
				alert (data);
			};
		});
	});
</script>
