<div id="enlevement">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Merci de remplir un maximum d'information pour votre demande d'enlevement!</h2>
				<div class="form-area">  
					<form action="demande_post" method="post" enctype="multipart/form-data" class="demande">
						<br>
						<div class="form-group">
							<input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse" required>
							<input id="submit" type="button" value="Geocode">
						</div>
						<div id="map" style="height: 500px;"></div>
						<div class="checkbox">
							<h3>Informations sur l'encombrant</h3>
							<div class="radio">
								<label>
									<input type="radio" name="taille" id="taille" value="petit" checked>
									Petit
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="taille" id="taille" value="moyen">
									Moyen
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="taille" id="taille" value="gros">
									Gros
								</label>
							</div>
						</div>
						<div class="checkbox">
							<h3>Informations sur l'encombrant</h3>
							<div id="radio">
								<label>
									<input type="radio" name="poid" id="poid" value="-10kg" checked>
									-10kg
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="poid" id="poid" value="10-30kg">
									De 10-30kg
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="poid" id="poid" value="+30kg">
									+30kg
								</label>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Quantités" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="name" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="first_name" name="first_name" placeholder="first_name" required>
						</div>
						<div class="col-sm-6" style="height:130px;">
							<div class="form-group">
								<label>Selectionnez le jour qui vous convient</label>
								<div class="input-group date" data-provide="datepicker">
									<input type="text" id="calendrier" name="date2" class="form-control">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Selectionnez le créneau horaire qui vous convient</label>
								<select name="horaire" class="form-control">
									<option value="8h-10h">8h à 10h</option>
									<option value="10h-12h">10h à 12h</option>
									<option value="12h-14h">12h à 14h</option>
									<option value="14h-16h">14h à 16h</option>
									<option value="16h-18h">16h à 18h</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<input type="textarea" id="description" name="description" placeholder="Merci de renseignez des informations complémentaires" cols="150" rows="70" class="add_com"/>
							<input type="hidden" name="MAX_FILE_SIZE" value="10000000000"/>
							<input type="submit" id="saveEnlevement" />
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
