<div class="container" id="connect">
	<div class="row">
		<form class="col-md-12" method='post' action="login_post">
			<div class="input-fiel col-sm-offset-2 col-md-8 text-center col-md-offset-2">
			<input type="text" class="login" name="login" placeholder="login">
			<!-- <label for="login">login</label> -->
			</div>
			<div class="input-fiel col-sm-offset-2 col-md-8 text-center col-md-offset-2">
			<input type="password" class="password" name="password" placeholder="password">
			<!-- <label for="password">password</label> -->
			</div>
			<div class="input-fiel col-md-12 text-center">
			<input type="submit" class="btn">

			</div>
		</form>
	</div>
</div>