<div id="signalement">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Merci de remplir un maximum d'information pour votre demande d'enlevement!</h2>
			<div class="form-area">  
		        <form action="demande_post" method="post" enctype="multipart/form-data" class="demande">
		        	<br>
	    				<div class="form-group">
							<input type="text" class="form-control" id="address" name="address" placeholder="Adresse" required>
              				<input id="submit" type="button" value="Geocode">
              				<input id="lat" name="latitude" type="hidden" />
  							<input id="lon" name="longitude" type="hidden"/>
						</div>
							<div id="map" style="height: 500px;"></div>
	                    <div class="checkbox">
	                    	<h3>Informations sur l'encombrant</h3>
		                    <div class="radio">
							  <label>
							    <input type="radio" name="taille" id="taille" value="1" checked>
							    Petit
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="taille" id="taille" value="2">
							    Moyen
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="taille" id="taille" value="3">
							    Gros
							  </label>
							</div>
						</div>
						<div class="checkbox">
	                    	<h3>Informations sur l'encombrant</h3>
		                    <div class="radio">
							  <label>
							    <input type="radio" name="poid" id="poid" value="1" checked>
							    -10kg
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="poid" id="poid" value="2">
							    De 10-30kg
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="poid" id="poid" value="3">
							    +30kg
							  </label>
							</div>
						</div>
		        	<input type="submit"/>
		        </form>
		    </div>
		</div>
	</div>
</div>
</div>
