body{
	font-family: 'Roboto', sans-serif !important;
	/* background-image: url(/../img/background.jpg) !important; */
	background-size: inherit;
	background-repeat: no-repeat;
	height: 100vh;
}

a{
	color: inherit !important;
}
button{
  flex: 1 1 auto;
  margin: 15px !important;
  padding: 20px;
  border: 2px solid rgb(134,163,50)!important;
  background-color: rgb(237,231,92)!important;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  font-weight: bold;
  width: 275px;
}

footer{
	position: absolute;
	margin-top: 20px;
    display: block;
    width: 100%;
}

.fa{
	color: rgb(204,23,97);
}

#description{
	width: 80%;
}

.log{
	float: right;
	margin-right: 20px;
}

.admin{
	margin-bottom: 15px;
}

.admin, .login{
	margin-top: 20px;
}

.login, .password{
	margin-bottom: 15px;
}

.admin_listing_1{
	border: 1px solid rgb(55,67,30);
	margin-bottom: 15px;
	margin-top: 15px;
}

.admin_listing{
	background-color: rgba(237,231,92,0.7);
}

.bouton_admin{
	margin-top: 10px;
}

.delete_signalement{
	margin-right: 10px;
}

